# Rental Prices Regression Project

## 1. Introduction

This notebook analyses the data of the 2024 rental prices across Canada and explores multiple regression models in order to find the one that predicts the price the most accurately.

**About the dataset**

For this project, we will work with the dataset named *25000+ Canadian rental housing market June 2024* that can be found [here](https://www.kaggle.com/datasets/sergiygavrylov/25000-canadian-rental-housing-market-june-2024).

In [103]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

## 2. Exploratory Data Analysis (EDA)

In [83]:
# Load data
df = pd.read_csv('Data/canada_rent.csv')

### 2.1 Data Exploration

In [85]:
df.shape

(25771, 18)

In [123]:
df.sample(5)

,rentfaster_id,city,province,address,latitude,longitude,lease_term,type,price,beds,baths,sq_feet,link,furnishing,availability_date,smoking,cats,dogs
6718,402727,Edmonton,Alberta,13220 140 St NW | 13528 140 St NW,53.595970,-113.562291,Long Term,Townhouse,1609.0,4 Beds,1,1286,/ab/edmonton/rentals/townhouse/2-bedrooms/well...,Unfurnished,Immediate,Non-Smoking,True,True
833,572527,Calgary,Alberta,61 Galbraith Drive Southwest,51.010497,-114.144276,Long Term,Duplex,2200.0,3 Beds,1.5,1100,/ab/calgary/rentals/duplex/3-bedrooms/glamorga...,Unfurnished,Immediate,Non-Smoking,True,True
12902,112798,Calgary,Alberta,148 Rockyledge View NW,51.142304,-114.249795,Long Term,Condo Unit,1900.0,1 Bed,1,758,/ab/calgary/rentals/condo/1-bedroom/rocky-ridg...,Unfurnished,July 01,Non-Smoking,False,False
15440,527884,Winnipeg,Manitoba,290 Maxwell Place,49.935192,-97.092632,Long Term,Apartment,1275.0,2 Beds,1,NaN,/mb/winnipeg/rentals/apartment/2-bedrooms/kild...,Unfurnished,Immediate,Non-Smoking,True,False
24534,487720,Montréal,Quebec,4000 de Maisonneuve Blvd. West,45.488805,-73.585992,Long Term,Apartment,2660.0,2 Beds,1,1000,/qc/montreal/rentals/apartment/1-bedroom/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25771 entries, 0 to 25770
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rentfaster_id      25771 non-null  int64
 1   city               25771 non-null  object
 2   province           25771 non-null  object
 3   address            25646 non-null  object
 4   latitude           25771 non-null  float64
 5   longitude          25771 non-null  float64
 6   lease_term         25725 non-null  object
 7   type               25771 non-null  object
 8   price              25771 non-null  float64
 9   beds               25639 non-null  object
 10  baths              25637 non-null  object
 11  sq_feet            21659 non-null  object
 12  link               25771 non-null  object
 13  furnishing         25771 non-null  object
 14  availability_date  25759 non-null  object
 15  smoking            23069 non-null  object
 16  cats               25598 non-null  object
 17  dogs               25598 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 3.5+ MB

In [44]:
df.describe()

       rentfaster_id      latitude     longitude         price
count   25771.000000  25771.000000  25771.000000  25771.000000
mean   471913.795274     48.903370   -100.332196   2151.624142
std    120330.335865      3.603257     17.917001    972.820941
min       820.000000     40.741802   -128.661880      0.000000
25%    415749.000000     45.418785   -114.074660   1600.000000
50%    522379.000000     50.913739   -113.513905   2045.000000
75%    563397.500000     51.093585    -79.401311   2550.000000
max    572635.000000     62.459246    -52.695472  29990.000000

In [60]:
df.isnull().sum()

rentfaster_id           0
city                    0
province                0
address               125
latitude                0
longitude               0
lease_term             46
type                    0
price                   0
beds                  132
baths                 134
sq_feet              4112
link                    0
furnishing              0
availability_date      12
smoking              2702
cats                  173
dogs                  173
dtype: int64

In [99]:
corr_matrix = df.corr(numeric_only=True)
corr_matrix

               rentfaster_id  latitude  longitude     price
rentfaster_id       1.000000 -0.180919   0.169395  0.150541
latitude           -0.180919  1.000000  -0.892029 -0.214687
longitude           0.169395 -0.892029   1.000000  0.109689
price               0.150541 -0.214687   0.109689  1.000000

There doesn't seem to be a strong correlation with the price and the other numerical variables.

### 2.2 Data Cleaning

### 2.3 Data Visualization

## 3. Feature Engineering and Data Preprocessing

## 4. Regression

### 3.1 Find the model

### 3.2 Make predictions

## End