# Canadian Rental Prices Data Cleaning

## Imports

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/canada_rent.csv')

In [3]:
df.head()

,rentfaster_id,city,province,address,latitude,longitude,lease_term,type,price,beds,baths,sq_feet,link,furnishing,availability_date,smoking,cats,dogs
0,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2495.0,2 Beds,2.5,1403,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True
1,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2695.0,3 Beds,2.5,1496,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True
2,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2295.0,2 Beds,2.5,1180,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True
3,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2095.0,2 Beds,2.5,1403,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,November 18,Non-Smoking,True,True
4,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2495.0,2 Beds,2.5,1403,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25771 entries, 0 to 25770
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rentfaster_id      25771 non-null  int64
 1   city               25771 non-null  object
 2   province           25771 non-null  object
 3   address            25646 non-null  object
 4   latitude           25771 non-null  float64
 5   longitude          25771 non-null  float64
 6   lease_term         25725 non-null  object
 7   type               25771 non-null  object
 8   price              25771 non-null  float64
 9   beds               25639 non-null  object
 10  baths              25637 non-null  object
 11  sq_feet            21659 non-null  object
 12  link               25771 non-null  object
 13  furnishing         25771 non-null  object
 14  availability_date  25759 non-null  object
 15  smoking            23069 non-null  object
 16  cats               25598 non-null  object
 17  dogs               25598 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 3.5+ MB

## Data Cleaning

### Convert `beds`, `baths` and `sq_feet` to numerical format

#### `beds`

In [5]:
df['beds'].unique()

array(['2 Beds', '3 Beds', 'Studio', '1 Bed', '5 Beds', '4 Beds', nan,
       '6 Beds', 'none Beds', '8 Beds', '7 Beds', '9 Beds'], dtype=object)

In [6]:
# Get proportion of null beds
print(f'{df['beds'].isna().mean():.2%}')

0.51%

In [7]:
# Remove Bed(s) after numbers
df['beds'] = df['beds'].str.replace(r'(?<=\d)\s+Bed[s]*', '', regex=True)

In [8]:
# Replace Studio and none Beds by 0
df['beds'] = np.where(df['beds'].isin(['Studio', 'none Beds']), 0, df['beds'])

In [9]:
# Drop rows with nan beds
df = df.dropna(subset='beds')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25639 entries, 0 to 25770
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rentfaster_id      25639 non-null  int64
 1   city               25639 non-null  object
 2   province           25639 non-null  object
 3   address            25516 non-null  object
 4   latitude           25639 non-null  float64
 5   longitude          25639 non-null  float64
 6   lease_term         25593 non-null  object
 7   type               25639 non-null  object
 8   price              25639 non-null  float64
 9   beds               25639 non-null  object
 10  baths              25637 non-null  object
 11  sq_feet            21658 non-null  object
 12  link               25639 non-null  object
 13  furnishing         25639 non-null  object
 14  availability_date  25631 non-null  object
 15  smoking            22937 non-null  object
 16  cats               25596 non-null  object
 17  dogs               25596 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 3.7+ MB

In [11]:
# Convert beds to numerical
df['beds'] = df['beds'].astype('int64')
df['beds'].describe()

count    25639.000000
mean         1.743087
std          0.974852
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          9.000000
Name: beds, dtype: float64

#### `baths`

In [12]:
df['baths'].unique()

array(['2.5', '1', '2', '1.5', '3.5', '4', '3', '5', 'none', '4.5', '7.5',
       nan, '5.5', '6', '6.5', '7', '8', '0'], dtype=object)

In [13]:
# Get proportion of null baths
print(f'{df['baths'].isna().mean():.2%}')

0.01%

In [14]:
# Replace none by 0
df['baths'] = np.where(df['baths'] == 'none', 0, df['baths'])

In [15]:
# Drop rows with nan baths
df = df.dropna(subset='baths')

In [16]:
# Convert to float
df['baths'] = df['baths'].astype('float')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25637 entries, 0 to 25770
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rentfaster_id      25637 non-null  int64
 1   city               25637 non-null  object
 2   province           25637 non-null  object
 3   address            25514 non-null  object
 4   latitude           25637 non-null  float64
 5   longitude          25637 non-null  float64
 6   lease_term         25591 non-null  object
 7   type               25637 non-null  object
 8   price              25637 non-null  float64
 9   beds               25637 non-null  int64
 10  baths              25637 non-null  float64
 11  sq_feet            21656 non-null  object
 12  link               25637 non-null  object
 13  furnishing         25637 non-null  object
 14  availability_date  25629 non-null  object
 15  smoking            22935 non-null  object
 16  cats               25596 non-null  object
 17  dogs               25596 non-null  object
dtypes: float64(4), int64(2), object(12)
memory usage: 3.7+ MB

#### `sq_feet`

In [18]:
df['sq_feet'].unique()

array(['1403', '1496', '1180', ..., '260', '286', '334'],
      shape=(1896,), dtype=object)

In [19]:
# Get proportion of null sq_feet
print(f'{df['sq_feet'].isna().mean():.2%}')

15.53%

In [20]:
# Extract number from string
df['sq_feet'] = df['sq_feet'].str.extract(r'(\d+)', expand=False)

In [21]:
# Convert to numeric
df['sq_feet'] = df['sq_feet'].astype('float')

In [22]:
# Group-wise median imputation
df['sq_feet'] = df['sq_feet'].fillna(df.groupby(['city', 'type'])['sq_feet'].transform('median'))

In [23]:
# Get new proportion of null sq_feet
print(f'{df['sq_feet'].isna().mean():.2%}')

0.62%

In [24]:
# Fill remaining null values with overall median
df['sq_feet'] = df['sq_feet'].fillna(df['sq_feet'].median())

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25637 entries, 0 to 25770
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rentfaster_id      25637 non-null  int64
 1   city               25637 non-null  object
 2   province           25637 non-null  object
 3   address            25514 non-null  object
 4   latitude           25637 non-null  float64
 5   longitude          25637 non-null  float64
 6   lease_term         25591 non-null  object
 7   type               25637 non-null  object
 8   price              25637 non-null  float64
 9   beds               25637 non-null  int64
 10  baths              25637 non-null  float64
 11  sq_feet            25637 non-null  float64
 12  link               25637 non-null  object
 13  furnishing         25637 non-null  object
 14  availability_date  25629 non-null  object
 15  smoking            22935 non-null  object
 16  cats               25596 non-null  object
 17  dogs               25596 non-null  object
dtypes: float64(5), int64(2), object(11)
memory usage: 3.7+ MB

### Drop irrelevant columns

In [ ]:
df = df.drop(['link', 'address'], axis=1)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25637 entries, 0 to 25770
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rentfaster_id      25637 non-null  int64
 1   city               25637 non-null  object
 2   province           25637 non-null  object
 3   latitude           25637 non-null  float64
 4   longitude          25637 non-null  float64
 5   lease_term         25591 non-null  object
 6   type               25637 non-null  object
 7   price              25637 non-null  float64
 8   beds               25637 non-null  int64
 9   baths              25637 non-null  float64
 10  sq_feet            25637 non-null  float64
 11  furnishing         25637 non-null  object
 12  availability_date  25629 non-null  object
 13  smoking            22935 non-null  object
 14  cats               25596 non-null  object
 15  dogs               25596 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 3.3+ MB

### Handle Missing Values

#### `lease_term`

In [28]:
df['lease_term'].unique()

array(['Long Term', 'Negotiable', 'Short Term', '12 months', 'months',
       '6 months', nan], dtype=object)

In [29]:
# Get proportion of null values
print(f'{df['lease_term'].isna().mean():.2%}')

0.18%

In [30]:
# Drop null values
df = df.dropna(subset='lease_term')

In [31]:
df.isna().sum()

rentfaster_id           0
city                    0
province                0
latitude                0
longitude               0
lease_term              0
type                    0
price                   0
beds                    0
baths                   0
sq_feet                 0
furnishing              0
availability_date       8
smoking              2702
cats                   41
dogs                   41
dtype: int64

#### `smoking`

In [32]:
df['smoking'].unique()

array(['Non-Smoking', 'Smoke Free Building', nan, 'Negotiable',
       'Smoking Allowed'], dtype=object)

In [33]:
# Get proportion of null values
print(f'{df['smoking'].isna().mean():.2%}')

10.56%

In [34]:
# Replace null values with "Unknown"
df['smoking'] = df['smoking'].fillna('Unknown')

In [35]:
# Collapse "Non-Smoking" and "Smoke Free Building"
df['smoking'] = np.where(df['smoking'] == 'Smoke Free Building', 'Non-Smoking', df['smoking'])

In [36]:
df['smoking'].unique()

array(['Non-Smoking', 'Unknown', 'Negotiable', 'Smoking Allowed'],
      dtype=object)

In [37]:
df.isna().sum()

rentfaster_id         0
city                  0
province              0
latitude              0
longitude             0
lease_term            0
type                  0
price                 0
beds                  0
baths                 0
sq_feet               0
furnishing            0
availability_date     8
smoking               0
cats                 41
dogs                 41
dtype: int64

#### `cats` and `dogs`

In [39]:
df['cats'].unique()

array([True, False, nan], dtype=object)

In [43]:
df[df['cats'].isna()]['type'].value_counts()

type
Office Space    31
Parking Spot     8
Storage          2
Name: count, dtype: int64

In [41]:
df['dogs'].unique()

array([True, False, nan], dtype=object)

In [44]:
df[df['dogs'].isna()]['type'].value_counts()

type
Office Space    31
Parking Spot     8
Storage          2
Name: count, dtype: int64

In [45]:
df['type'].value_counts()

type
Apartment        16333
Condo Unit        2256
Basement          1659
Townhouse         1628
House             1605
Main Floor         810
Room For Rent      720
Duplex             497
Office Space        31
Loft                25
Acreage             11
Parking Spot         8
Vacation Home        4
Storage              2
Mobile               2
Name: count, dtype: int64

The number of null values are the same for cats and dogs

In [46]:
# Drop rows with the types "Office Space", "Parking Spot", and "Storage"
df = df[~df['type'].isin(['Office Space', 'Parking Spot', 'Storage'])]

In [48]:
df.isna().sum()

rentfaster_id        0
city                 0
province             0
latitude             0
longitude            0
lease_term           0
type                 0
price                0
beds                 0
baths                0
sq_feet              0
furnishing           0
availability_date    8
smoking              0
cats                 0
dogs                 0
dtype: int64

#### `availability_date`

In [ ]:
# TODO: feature extraction

In [51]:
df['availability_date'].value_counts()

availability_date
Immediate       14838
July 01          3766
August 01        1810
No Vacancy        937
September 01      734
                ...
March 05            1
November 29         1
September 12        1
December 31         1
October 05          1
Name: count, Length: 132, dtype: int64

In [49]:
df[df['availability_date'].isna()]

,rentfaster_id,city,province,latitude,longitude,lease_term,type,price,beds,baths,sq_feet,furnishing,availability_date,smoking,cats,dogs
4678,570767,Calgary,Alberta,51.083401,-114.054478,Long Term,Duplex,1840.0,2,1.0,850.0,Unfurnished,NaN,Non-Smoking,True,False
4679,570767,Calgary,Alberta,51.083401,-114.054478,Long Term,Duplex,1840.0,2,2.0,1400.0,Unfurnished,NaN,Non-Smoking,True,False
5240,571805,Cochrane,Alberta,51.156633,-114.472704,Long Term,Townhouse,2150.0,2,1.5,1200.0,Unfurnished,NaN,Non-Smoking,False,False
5241,571805,Cochrane,Alberta,51.156633,-114.472704,Long Term,Townhouse,2150.0,2,1.5,1200.0,Unfurnished,NaN,Non-Smoking,False,False
5589,570990,Edmonton,Alberta,53.569215,-113.535570,Long Term,Apartment,1100.0,1,1.0,650.0,Unfurnished,NaN,Non-Smoking,False,False
5590,570990,Edmonton,Alberta,53.569215,-113.535570,Long Term,Apartment,875.0,0,1.0,375.0,Unfurnished,NaN,Non-Smoking,False,False
13944,570767,Calgary,Alberta,51.083401,-114.054478,Long Term,Duplex,1840.0,2,1.0,850.0,Unfurnished,NaN,Non-Smoking,True,False
13945,570767,Calgary,Alberta,51.083401,-114.054478,Long Term,Duplex,1840.0,2,2.0,1400.0,Unfurnished,NaN,Non-Smoking,True,False

In [ ]:
# Drop null rows

In [ ]:
# Assert there are no more null values

In [ ]:
# Reset index

## EDA

In [53]:
df['province'].value_counts()

province
Alberta                      13629
Ontario                       6598
Quebec                        2245
British Columbia              1154
Manitoba                       890
Saskatchewan                   716
Nova Scotia                    273
Northwest Territories           20
New Brunswick                   13
Newfoundland and Labrador       12
Name: count, dtype: int64

In [52]:
df['city'].value_counts()

city
Calgary          9702
Toronto          2893
Edmonton         2871
Montréal         1601
Ottawa           1179
                 ...
Ridgetown           1
Prince Edward       1
Port Colborne       1
Vanier              1
Tilbury             1
Name: count, Length: 265, dtype: int64

## End