# Canadian Rental Prices Regression Project

## Overview

This notebook ...

## Imports

In [8]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/canada_rent.csv')

In [3]:
df.head()

,rentfaster_id,city,province,address,latitude,longitude,lease_term,type,price,beds,baths,sq_feet,link,furnishing,availability_date,smoking,cats,dogs
0,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2495.0,2 Beds,2.5,1403,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True
1,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2695.0,3 Beds,2.5,1496,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True
2,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2295.0,2 Beds,2.5,1180,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True
3,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2095.0,2 Beds,2.5,1403,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,November 18,Non-Smoking,True,True
4,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2495.0,2 Beds,2.5,1403,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25771 entries, 0 to 25770
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rentfaster_id      25771 non-null  int64
 1   city               25771 non-null  object
 2   province           25771 non-null  object
 3   address            25646 non-null  object
 4   latitude           25771 non-null  float64
 5   longitude          25771 non-null  float64
 6   lease_term         25725 non-null  object
 7   type               25771 non-null  object
 8   price              25771 non-null  float64
 9   beds               25639 non-null  object
 10  baths              25637 non-null  object
 11  sq_feet            21659 non-null  object
 12  link               25771 non-null  object
 13  furnishing         25771 non-null  object
 14  availability_date  25759 non-null  object
 15  smoking            23069 non-null  object
 16  cats               25598 non-null  object
 17  dogs               25598 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 3.5+ MB

## Data Cleaning

### Convert `beds`, `baths` and `sq_feet` to numerical format

#### Beds

In [5]:
df['beds'].unique()

array(['2 Beds', '3 Beds', 'Studio', '1 Bed', '5 Beds', '4 Beds', nan,
       '6 Beds', 'none Beds', '8 Beds', '7 Beds', '9 Beds'], dtype=object)

In [6]:
df['beds'].isna().sum()

np.int64(132)

In [ ]:
# Remove Bed(s) after numbers
df['beds'] = df['beds'].str.replace(r'(?<=\d)\s+Bed[s]*', '', regex=True)

17217    2
1120     3
20303    2
23008    1
20141    3
Name: beds, dtype: object

In [ ]:
# Replace Studio and none Beds by 0
df['beds'] = np.where(df['beds'].isin(['Studio', 'none Beds']), 0, df['beds'])

12484    2
5307     1
5346     2
1059     2
17106    1
Name: beds, dtype: object

In [11]:
# Replace nan beds by 0
df['beds'] = df['beds'].fillna(0)

In [12]:
# Convert beds to numerical
df['beds'] = df['beds'].astype('int64')
df['beds'].describe()

count    25771.000000
mean         1.734159
std          0.980281
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          9.000000
Name: beds, dtype: float64

#### Baths

### Handle Missing Values

### Drop irrelevant columns